<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer documento en HTML</title>
  </head>
  <body>
    <h4>Soy un h4</h4>
    <h1>El título de nuestro documento</h1>
    <h2>Un subtítulo cualquiera</h2>
    <img src="/images/avengers.jpg" alt="avengers">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime
      reiciendis, in modi laborum id laudantium vitae, voluptatem, vel neque
      delectus tenetur magni. Enim voluptates aut laboriosam magnam veritatis
      dignissimos optio!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
      consequuntur, laborum quibusdam soluta modi vitae debitis id error
      consectetur officiis asperiores et similique deleniti autem harum
      necessitatibus ipsa obcaecati. Corrupti?
    </p>
    <ol>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ol>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>

    <a href="https://www.google.com">Ir Google</a>
  </body>
</html>
